<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css(version ='3.3.7') }}
    {% endblock %}

    <title>Your page title</title>
    {% endblock %}
  </head>
  <body>
    <!-- Your page navbar -->
    {% block navbar %}{% endblock %}
    <!-- Your page content -->
    {% block content %}{% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js(version ='3.3.7') }}
    {# 默认是version ='4.3.1'，jquery_version ='3.3.1'，popper_version ='1.14.0'，with_jquery = True，with_popper = True #}
    {% endblock %}
  </body>
</html>